[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://rospypi.github.io/simple/"
verify_ssl = true
name = "rospypigithub"

[packages]
django = "*"
djangorestframework = "*"
rosbags = "*"
opencv-python = "*"
google-cloud-speech = "*"
cv-bridge = "*"
roslib = {version = "*", index = "rospypigithub"}
bagpy = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.11"
